package ui

templ Base() {
  <html lang='en'>
  <head>
    <meta charset='utf-8'/>
    <title>Home - Snippetbox</title>
  </head>
  <body>
  <header>
    <h1><a href='/'>Snippetbox</a></h1>
  </header>
  <main>
    { children...}
  </main>
  <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
  </body>
</html>
}