package ui

import "github.com/aiman-farhan/snippetbox/ui/html/partials"
import "github.com/aiman-farhan/snippetbox/internal/models"

templ Home(snippets []models.Snippet) {
  @Base() {
    <h2>Latest Snippets</h2>
    <table>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>ID</th>
    </tr>
      for _, item := range snippets {
        @ui.SnippetItem(item)
      }
    </table>
  }
}
