package ui

import "github.com/aiman-farhan/snippetbox/internal/models"

templ SnippetItem(snippet models.Snippet) {
  <div class="snippet">
    <h3>{snippet.Title}</h3>
    <p>{snippet.Content}</p>
  </div>
}